DATABASE_URL=postgres://user:password@localhost:5432/dbname
SECRET_KEY=your_secret_key
DEBUG=True
STRIPE_TEST_SECRET_KEY=your_test_secret_key
STRIPE_TEST_PUBLISHABLE_KEY=your_test_publishable_key
STRIPE_LIVE_SECRET_KEY=your_live_secret_key
STRIPE_LIVE_PUBLISHABLE_KEY=your_live_publishable_key
STRIPE_WEBHOOK_SECRET=your_webhook_secret
ALLOWED_HOSTS=localhost,127.0.0.1
```